@import "tailwindcss";

@font-face {
  font-family: Inter;
  src:
    local('Inter')
    url('/Inter.woff2');
}

@theme {
  --color-dark: #525264;
  --color-dark-primary: #433547;
  --color-dark-secondary: #B74560;

  --color-light: #A8E7FB;
  --color-light-primary: #A1BFE3;
  --color-light-secondary: #EFBEE1;
}

:root {
  font-family: 'Inter', Inter, system-ui;
  color-scheme: dark light;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;

  background: #525264;

  @media (prefers-color-scheme: light) {
    background: #A8E7FB;
  }
}
