@import "tailwindcss";

@font-face {
  font-family: Inter;
  src:
    local('Inter')
    url('/Inter.woff2');
}

@theme {
  --color-dark: #525264;
  --color-dark-primary: #433547;
  --color-dark-secondary: #B74560;

  --color-light: #A8E7FB;
  --color-light-primary: #A1BFE3;
  --color-light-secondary: #EFBEE1;

  --clw: 1364px;
  --clh: 549.84px;
  
  --spacing-clw: var(--clw);
  --spacing-clh: var(--clh);
}

:root {
  font-family: 'Inter', Inter, system-ui;
  color-scheme: dark light;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;

  /* background: #525264; */
  background: black;

  /* @media (prefers-color-scheme: light) {
    background: #A8E7FB;
  } */
}

#console-layout {
  background: url('/console.svg') no-repeat center center;
  background-size: var(--clw) var(--clh);
}

#cursor {
  transition-property: left, top;
  transition-duration: 150ms;
  transition-timing-function: ease;
}