@import "tailwindcss";

@font-face {
  font-family: Inter;
  src:
    local('Inter')
    url('/Inter.woff2');
}

@theme {
  --color-dark: #525264;
  --color-dark-primary: #433547;
  --color-dark-secondary: #B74560;

  --color-light: #A8E7FB;
  --color-light-primary: #A1BFE3;
  --color-light-secondary: #EFBEE1;

  --clw: 1364px;
  --clh: 549.84px;
  
  --spacing-clw: var(--clw);
  --spacing-clh: var(--clh);
}

:root {
  font-family: 'Inter', Inter, system-ui;
  color-scheme: dark light;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: black;

  scrollbar-width: none;
}

#console-layout {
  background: url('/console.svg') no-repeat center center;
  background-size: var(--clw) var(--clh);
}

#cursor {
  transition-property: left, top, height, width;
  transition-duration: 150ms;
  transition-timing-function: ease;
}

#cursor-border {
  user-select: none;
  pointer-events: none;
  
  --mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); 
  -webkit-mask: var(--mask);
  mask: var(--mask);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  border-radius: inherit;

  #cursor-border-colors {
    background: conic-gradient(
      #1180F4,
      #CFFDFD,
      #866fdb,
      #1e77d6,
      #ca8dbc,
      #1180F4
    );
    animation: spin 6s infinite linear;
  }
}