@import "tailwindcss";

@font-face {
  font-family: Inter;
  src:
    local('Inter')
    url('/Inter.woff2');
}

:root {
  font-family: 'Inter', Inter, system-ui;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
